In [18]:
import pandas as pd
import re
from openpyxl import load_workbook
from datetime import datetime

def extract_date_from_keterangan(keterangan):
    # Pattern untuk mendeteksi tanggal dalam berbagai format
    date_pattern = r'\d{1,2}[-/]\d{1,2}[-/]\d{2,4}'
    match = re.search(date_pattern, keterangan)
    
    if match:
        # Ambil tanggal yang ditemukan dan konversi menjadi format dd-mm-yyyy
        raw_date = match.group(0)
        try:
            # Coba format dengan beberapa separator yang umum
            for fmt in ['%d-%m-%Y', '%d/%m/%Y', '%d-%m-%y', '%d/%m/%y']:
                try:
                    parsed_date = datetime.strptime(raw_date, fmt)
                    return parsed_date.strftime('%d-%m-%Y')
                except ValueError:
                    continue
        except ValueError:
            pass
    return None

def process_excel(input_path, output_path, sheet_name='transaksi'):
    # Baca file Excel input dan pilih sheet yang sesuai dengan sheet_name
    df = pd.read_excel(input_path, sheet_name=sheet_name)
    
    # Tambahkan kolom 'Tanggal Transaksi' dengan hasil ekstraksi dari kolom 'Keterangan'
    df['Tanggal Transaksi'] = df['Keterangan'].apply(extract_date_from_keterangan)
    
    # Simpan hasil ke file output dengan nama sheet yang ditentukan
    with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
        df.to_excel(writer, sheet_name=sheet_name, index=False)

# Pemanggilan fungsi dengan sheet_name
if __name__ == "__main__":
    process_excel(input_path="transaksi-raw-partial.xlsx", output_path="transaksi-output.xlsx", sheet_name='transaksi')

In [19]:
import pandas as pd
import re
from openpyxl import load_workbook
from datetime import datetime

def extract_date_from_keterangan(keterangan):
    # Menyusun pola regex untuk mencocokkan tanggal dalam format '17 Desember 2024'
    date_pattern = r'(\d{1,2})\s([A-Za-z]+)\s(\d{4})'
    
    match = re.search(date_pattern, keterangan)
    if match:
        day = match.group(1)
        month_name = match.group(2)
        year = match.group(3)
        
        # Menyusun nama bulan dengan angka
        month_dict = {
            "Januari": 1, "Februari": 2, "Maret": 3, "April": 4,
            "Mei": 5, "Juni": 6, "Juli": 7, "Agustus": 8,
            "September": 9, "Oktober": 10, "November": 11, "Desember": 12
        }
        
        if month_name in month_dict:
            month = month_dict[month_name]
            # Mengonversi tanggal menjadi format dd-mm-yyyy
            date_string = f"{day}-{month:02d}-{year}"
            return date_string
    return None

def process_excel(input_path, output_path, sheet_name='transaksi'):
    # Baca file Excel input dan pilih sheet yang sesuai dengan sheet_name
    df = pd.read_excel(input_path, sheet_name=sheet_name)
    
    # Tambahkan kolom 'Tanggal Transaksi' dengan hasil ekstraksi dari kolom 'Keterangan'
    df['Tanggal Transaksi'] = df['Keterangan'].apply(extract_date_from_keterangan)
    
    # Simpan hasil ke file output dengan nama sheet yang ditentukan
    with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
        df.to_excel(writer, sheet_name=sheet_name, index=False)

# Pemanggilan fungsi dengan sheet_name
if __name__ == "__main__":
    process_excel(input_path="transaksi-raw-partial.xlsx", output_path="transaksi-output.xlsx", sheet_name='transaksi')

In [20]:
df = pd.read_excel('transaksi-raw-partial.xlsx',sheet_name='transaksi')

In [22]:
import pandas as pd
import re
from datetime import datetime

# Fungsi untuk mengekstrak tanggal dari kolom Keterangan
def extract_date_from_keterangan(keterangan):
    # Menyusun pola regex untuk mencocokkan tanggal dalam berbagai format
    date_pattern = r'(\d{1,2})\s([A-Za-z]+|[A-Za-z]{3})\s(\d{2,4}|\'\d{2})'
    
    match = re.search(date_pattern, keterangan)
    if match:
        day = match.group(1)
        month_name = match.group(2)
        year = match.group(3)
        
        # Mengonversi tahun yang menggunakan format dua digit menjadi empat digit
        if year.startswith("'"):
            year = '20' + year[1:]
        
        # Menyusun nama bulan dengan angka
        month_dict = {
            "Januari": 1, "Februari": 2, "Maret": 3, "April": 4,
            "Mei": 5, "Juni": 6, "Juli": 7, "Agustus": 8,
            "September": 9, "Oktober": 10, "November": 11, "Desember": 12,
            "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12  # Untuk singkatan bulan
        }
        
        if month_name in month_dict:
            month = month_dict[month_name]
            # Mengonversi tanggal menjadi format dd-mm-yyyy
            date_string = f"{day}-{month:02d}-{year}"
            return date_string
    return None

# Fungsi untuk memproses file Excel dan menambahkan kolom Tanggal Transaksi
def process_excel(input_path, output_path, sheet_name='transaksi'):
    # Baca file Excel input dan pilih sheet yang sesuai dengan sheet_name
    df = pd.read_excel(input_path, sheet_name=sheet_name)
    
    # Tambahkan kolom 'Tanggal Transaksi' dengan hasil ekstraksi dari kolom 'Keterangan'
    df['Tanggal Transaksi'] = df['Keterangan'].apply(extract_date_from_keterangan)
    
    # Simpan hasil ke file output dengan nama sheet yang ditentukan
    with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
        df.to_excel(writer, sheet_name=sheet_name, index=False)

# Pemanggilan fungsi dengan sheet_name
if __name__ == "__main__":
    process_excel(input_path="transaksi-raw-partial.xlsx", output_path="transaksi-output.xlsx", sheet_name='transaksi')

In [23]:
import pandas as pd
import re
from datetime import datetime

def extract_date_from_keterangan(keterangan):
    # Menyusun pola regex untuk mencocokkan tanggal dalam berbagai format, termasuk koma
    date_pattern = r'(\d{4}),\s*(\d{1,2})\s([A-Za-z]+|[A-Za-z]{3})'
    
    match = re.search(date_pattern, keterangan)
    if match:
        year = match.group(1)  # Menangkap tahun
        day = match.group(2)   # Menangkap hari
        month_name = match.group(3)  # Menangkap nama bulan
        
        # Menyusun nama bulan dengan angka
        month_dict = {
            "Januari": 1, "Februari": 2, "Maret": 3, "April": 4,
            "Mei": 5, "Juni": 6, "Juli": 7, "Agustus": 8,
            "September": 9, "Oktober": 10, "November": 11, "Desember": 12,
            "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12  # Untuk singkatan bulan
        }
        
        if month_name in month_dict:
            month = month_dict[month_name]
            # Mengonversi tanggal menjadi format dd-mm-yyyy
            date_string = f"{day}-{month:02d}-{year}"
            return date_string
    return None

def process_excel(input_path, output_path, sheet_name='transaksi'):
    # Baca file Excel input dan pilih sheet yang sesuai dengan sheet_name
    df = pd.read_excel(input_path, sheet_name=sheet_name)
    
    # Tambahkan kolom 'Tanggal Transaksi' dengan hasil ekstraksi dari kolom 'Keterangan'
    df['Tanggal Transaksi'] = df['Keterangan'].apply(extract_date_from_keterangan)
    
    # Simpan hasil ke file output dengan nama sheet yang ditentukan
    with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
        df.to_excel(writer, sheet_name=sheet_name, index=False)

# Pemanggilan fungsi dengan sheet_name
if __name__ == "__main__":
    process_excel(input_path="transaksi-raw-partial.xlsx", output_path="transaksi-output.xlsx", sheet_name='transaksi')

In [53]:
import pandas as pd
import re
from datetime import datetime

def extract_date_from_keterangan(keterangan):
    # Menyusun pola regex untuk mencocokkan tanggal dalam berbagai format, termasuk koma dan spasi
    date_pattern = r'(\d{4}),?\s*(\d{1,2})\s*([A-Za-z]+|[A-Za-z]{3})|(\d{1,2})\s([A-Za-z]+|[A-Za-z]{3})\s(\d{2,4}|\'\d{2})'
    
    # Mencocokkan regex
    match = re.search(date_pattern, keterangan)
    
    if match:
        # Jika ada tahun di awal
        if match.group(1):  # Format "2024, 27 Aug"
            year = match.group(1)
            day = match.group(2)
            month_name = match.group(3)
        # Jika tahun di belakang (misal format '25 Jun '24')
        else:  # Format '25 Jun '24' atau '7 August 2024'
            day = match.group(4)
            month_name = match.group(5)
            year = match.group(6)
            if year.startswith("'"):  # Jika tahun dua digit
                year = '20' + year[1:]
        
        # Menyusun nama bulan dengan angka
        month_dict = {
            "Januari": 1, "Februari": 2, "Maret":3, "April": 4,
            "Mei": 5, "June": 6, "Jul": 7, "Agustus": 8,
            "September": 9, "Oktober": 10, "November": 11, "Desember": 12,
            "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12
            ,"Okt":10,"Mar":3,"August":7,"Juni":6 # Untuk singkatan bulan
        }
        
        if month_name in month_dict:
            month = month_dict[month_name]
            # Mengonversi tanggal menjadi format dd-mm-yyyy
            date_string = f"{day}-{month:02d}-{year}"
            return date_string
    return None

def process_excel(input_path, output_path, sheet_name='transaksi'):
    # Baca file Excel input dan pilih sheet yang sesuai dengan sheet_name
    df = pd.read_excel(input_path, sheet_name=sheet_name)
    
    # Tambahkan kolom 'Tanggal Transaksi' dengan hasil ekstraksi dari kolom 'Keterangan'
    df['Tanggal Transaksi'] = df['Keterangan'].apply(extract_date_from_keterangan)
    
    # Simpan hasil ke file output dengan nama sheet yang ditentukan
    with pd.ExcelWriter(output_path, engine='openpyxl') as writer:
        df.to_excel(writer, sheet_name=sheet_name, index=False)

# Pemanggilan fungsi dengan sheet_name
if __name__ == "__main__":
    process_excel(input_path="transaksi-raw-partial.xlsx", output_path="transaksi-output.xlsx", sheet_name='transaksi')

In [54]:
df = pd.read_excel('transaksi-output.xlsx',sheet_name='transaksi')
df

,Kode Transaksi,Keterangan,Tanggal Transaksi,Kode Produk,Nama Produk,Qty,Harga,Diskon,Total Harga
0,1,Susi membayar pajak PBB pada 17 Desember 2024 ...,17-12-2024,P001,Roti,1,10000,0,10000
1,2,Andi berangkat kerja tanggal 7 August 2024,7-07-2024,P002,Susu,1,15000,0,15000
2,3,Bagas makan siang pada 15 Sep 2024 di kantor,15-09-2024,P003,Telur,1,12000,0,12000
3,4,Kami akan berangkat paling telat 25 Juni '24,25-06-2024,P001,Roti,2,10000,0,20000
4,5,Riko mengikuti seminar di 20 Okt 2024 berjudul...,20-10-2024,P004,Mentega,1,18000,0,18000
5,6,"Joni mulai audit pada 2024, 6 Nov untuk keuang...",6-11-2024,P002,Susu,1,15000,0,15000
6,7,Nina mengikuti kursus mulai 2 June 2024 sampai...,2-06-2024,P001,Roti,1,10000,0,10000
7,8,Rina check up pada 20 Mar 2024 di RS dekat rum...,20-03-2024,P004,Mentega,1,18000,0,18000
8,9,Doni menghadiri rapat pada 31 Oktober '24,31-10-2024,P003,Telur,1,12000,0,12000
9,10,Kiki antar paket pada 22 Agustus '24,22-08-2024,P001,Roti,1,10000,0,10000
10,11,"Mira tiba di kantor pada 2024, 27 Aug",27-08-2024,P002,Susu,1,15000,0,15000
11,12,"Reno mulai project baru pada 2024, 3 Oct",3-10-2024,P001,Roti,1,10000,0,10000
12,13,"Salsa beli baju tanggal 2024, 22 Mei untuk kep...",22-05-2024,P004,Mentega,1,18000,0,18000
13,14,Adi mulai lembur pada 8 June 2024 untuk mencar...,8-06-2024,P004,Mentega,1,18000,0,18000
14,15,Wawan isi bensin pada 5 Jul 2024 pada pom bens...,5-07-2024,P003,Telur,1,12000,0,12000